@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #6315ff;
  --secondary: #4f11cc;
  --background: #ffffff;
  --light-gray: #c9d4e0;
  --medium-gray: #e1e8f0;
  --dark-gray: #9b9ba4;
  --green: #46bcb5;
  --blue: #5662d0;
  --normal-red: #f99d9a;
  --red-warning: #e1403d;
  --dark-black: #243e63;
}
* {
  font-family: "Inter";
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--dark-black);
  transition: all 300ms ease;
}
body {
  background-color: var(--background);
  overflow-x: hidden;
}

.flex {
  display: flex;
}
.b-light {
  border: 1px solid var(--light-gray);
}

.section--container {
  display: flex;
  width: 100%;
  padding: 4rem 3rem;
}

.column-flex {
  flex-direction: column;
  align-items: center;
}
.purple--text {
  color: var(--primary);
}
.vertical-center {
  align-items: center;
}
.row {
  width: 100%;
  padding: 0 3rem;
}

/*Navegation bar Starts*/

nav {
  height: 80px;
  display: flex;
  padding-top: 1rem;
}

.nav__container {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 20%;
  background-color: #fff;

  font-weight: bold;
}

.logo:hover .logo--text {
  color: var(--primary);
}
.logo--text {
  font-weight: bolder;
}
.logo--img {
  width: 2.5rem;
  margin-right: 1rem;
}

.lists-container {
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}

li {
  margin-right: 2rem;
}

.btn--sign {
  background-color: var(--primary);
  padding: 0.6rem 2rem;
  border-radius: 30px;
  color: #fff;
  border: none;
  font-weight: bold;
  width: fit-content;
}

.btn--sign:hover {
  background-color: var(--secondary);
}

/*Navegation bar Ends*/

/*landing section start*/

#landing {
  width: 100vw;
  height: 100vh - 80px;
  padding-top: 4.5%;

  display: flex;
  justify-content: space-around;
}
.section--description {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.logos__banner--img {
  width: 100%;
}

.section__hero--img {
  width: 55%;
  padding-left: 2rem;
}
.hero--img {
  width: 100%;
  height: 100%;
}
.section--title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.section--par {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: var(--dark-gray);
}

.landing__email--form {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 4rem;
  position: relative;
  width: 100%;
}

.landing__input--email {
  width: 80%;
  height: 3rem;
  padding: 2rem;
  border-radius: 35px;
  border: 2px solid var(--light-gray);
}
::placeholder {
  font-size: 1rem;

  font-weight: bold;

  color: var(--dark-gray);
}
.landing__input--email:hover {
  border-color: var(--dark-gray);
}

.landing__input--button {
  position: absolute;
  top: 4%;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 40px;
  margin: 0 auto;
  padding: 1.2rem;
  right: 7rem;
}
.logos__banner {
  margin: 0;
  width: 100%;
}
.gray--span {
  font-size: 12px;
  display: block;
  padding-bottom: 1rem;
  font-weight: bold;
  color: var(--dark-gray);
}
.logos__banner--img {
  width: 70%;
  filter: grayscale(1) invert(1);
}
/*Landing section Ends*/

/*features section start*/

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem 0;
  height: 100vh;
  width: 100vw;
}
.section__text--title {
  color: var(--dark-black);
  text-align: center;

  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}
.features__text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__text p {
  font-size: 1.2rem;
  width: 55%;
  color: var(--dark-gray);
  line-height: 1.5;
  text-align: center;
}

.features-container {
  width: 100%;
  display: flex;
  margin-left: -1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.feature--icon {
  margin-top: -50px;
}
.feature--icon img {
  border: 1px solid var(--dark-gray);
  border-radius: 50%;
  padding: 1.2rem;
  margin-right: -20px;
}
.section--subtitle {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 5px;
}
.feature--text p {
  width: 90%;

  color: var(--dark-gray);
  line-height: 2;
  font-weight: 500;
}
/*features section Ends*/

#qualities .section--description {
  width: 50%;
}
#qualities .section--subtitle {
  padding: 0;
  margin: 0;
}
#qualities .section__hero--img {
  padding: 0;
}
#qualities .section--par {
  font-size: 18px;
  text-align: left;
}

.quality--button {
  padding: 1rem 1.8rem;
  padding-bottom: 1rem;
}

.section--ul {
  display: flex;
  flex-direction: column;
}

.easy-figure {
  background-color: #46bcb5;
  width: 60%;
}

.easy-img {
  width: 100%;
}

.section__group--li {
  display: flex;
  padding: 1rem 0;
}

.number--icon {
  padding-right: 1rem;
}
.number--list {
  font-size: 2rem;
  font-weight: 700;
  color: var(--light-gray);
}
.section--li {
  color: var(--dark-black);
  font-weight: 700;
}
.section__li--p {
  color: var(--dark-gray);
  font-size: 16px;
  line-height: 1.5;
  width: 70%;
}

.h-90 {
  margin-top: 5rem;
  margin-left: -2rem;
  height: 70%;
}
.w-60 {
  width: 60%;
}
.w-90 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.two--row-container {
  display: flex;
}

.icon {
  padding: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}
.suitcase--icon {
  background-color: var(--normal-red);
  color: var(--red-warning);
}
.dollar-icon {
  background-color: #46bcb5;
  color: #008000;
  padding: 10px 13px;
}

.font-small {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--dark-gray);
}
.pricing--text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.pricing--par {
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-gray);
  width: 60%;
}

.pricing--cards {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  align-content: center;
  flex-wrap: wrap;
  width: calc(100 / 3);
}

.card {
  border: 1px solid var(--light-gray);

  text-align: center;

  width: 23rem;
  margin: 1.5rem;
  border-radius: 8px;
}
.card--header {
  padding-bottom: 1.5rem;
}

.card--header h2 {
  margin: 0;
}
.pricing-li {
  padding: 1rem 0;
}
.pricing-ul {
  border-top: 1px solid var(--light-gray);
}
.pricing-button {
  border-top: 1px solid var(--light-gray);

  padding: 2.5rem;
}

.b-green {
  border-top: 7px solid var(--green);
  border-radius: 8px;
}
.btn-green {
  background-color: var(--green);
  padding: 1rem 2rem;
}
.b-red {
  border-top: 7px solid var(--red-warning);
  border-radius: 8px;
}
.btn-red {
  background-color: var(--red-warning);
  padding: 1rem 2rem;
}

.card:nth-child(2){
  
  background-color: var(--blue);
  
}
.card:nth-child(2) h3,
.card:nth-child(2) h2,
.card:nth-child(2) p,
.card:nth-child(2) li{
  
 color: #fff;
  
}

.card:nth-child(2) button{

  background-color: var(--background);
  color: var(--primary);
  padding: 1rem 2rem;
}
.customer-container{
  display: flex;
  
}
.customer-photo{
  width: 5rem;
  border-radius: 50%;
}
.fa-star{
  color: #faab54;
}
/*faqs section start*/
.faqs-section{
padding: 1rem 3rem;

}

.faqs-container{

  display: flex;
  flex-direction: column;
 justify-content: center;
  align-items: center;

  }

.faq-header{
text-align: center;
}


.questions{
  width: 100%;
  max-width: 1100px;
  padding: 2rem 5rem;
 
}

details{
  width: 100%;
  background-color: var(--medium-gray);
display: flex;
padding: 1.5rem;
border-radius: 10px;
  margin-bottom: 1rem;
  
}

details:hover{
  background-color: var(--light-gray);
}

summary{
  width: 100%;
height: 1rem;
display: flex;
align-items: center;
}

summary h3{
 
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

details p{
  margin:0.9rem 1rem;
  margin-bottom: 0;
  line-height: 1.5;
  word-spacing: 2px;
 
}
/*faqs section ends*/
.caller{
  
  width: 100%;
  padding: 2rem;
  

}

.call--to{
  width: 100%;

  border-radius: 20px;
  background-color: var(--primary);
 display: flex;
 justify-content: space-between;
 align-items: center;
height: 300px;
}
.call--to h2{
  color: #fff;
  width: 50%;
  font-size: 2rem;
  padding-left: 8rem;
  line-height: 1.5;
}
.btn-call--container{
  padding: 5rem;
 
}
.btn-call-red{
  background-color: var(--red-warning);
  color: #fff;
  padding: 1.5rem 3rem;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 2px 4px 8px var(--primary);
}
.btn-call-purple{
  border: 1px solid #fff;
  padding: 1.5rem 3rem;
  margin-left: 1.2rem;
  font-weight: 700;
  font-size: 1rem;
}
