@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #6315ff;
  --secondary: #4f11cc;
  --background: #ffffff;
  --light-gray: #c9d4e0;
  --medium-gray: #e1e8f0;
  --dark-gray: #9b9ba4;
  --green: #46bcb5;
  --blue: #5662d0;
  --normal-red: #f06d66;
  --red-warning: #e1403d;
  --dark-black: #243e63;
}
* {
  font-family: "Inter";
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--dark-black);
  transition: all 300ms ease;
}
body {
  background-color: var(--background);
  overflow-x: hidden;
}

.flex {
  display: flex;
}
.b-light {
  border: 1px solid var(--light-gray);
}

/*toggle menu starts*/
.btn__menu{
  
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    display: none;
 
}

.menu__backdrop {

  position: absolute;
  background-color: white;
  top: 0;
  left: 0;
 right: 0;
 bottom: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;
max-height: fit-content;
border: 1px solid var(--light-gray);
border-radius: 10px;
margin: 1rem 15px;
}

.menu--open .menu__backdrop{
  visibility: visible;
  opacity: 1;
    display: flex;
  
  }

  .menu--open {
    max-height: 300px;

  }
  .btn__menu--close{
    position: absolute;
    right: 1rem;
    top: 10px;
    padding: 8px;
    color: aliceblue;
  
  }

  .menu__links{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu__list{
    padding: 1rem 0;
  
  }
  
  .menu__link{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--dark-black);
  }

/*toggle menu starts*/
.section--container {
  display: flex;
  width: 100%;
  padding: 4rem 3rem;
}

.column-flex {
  flex-direction: column;
  align-items: center;
}
.purple--text {
  color: var(--primary);
}
.white-text{
  color: #fff;
}
.vertical-center {
  align-items: center;
}
.row {
  width: 100%;
  padding: 0 3rem;
}

/*Navegation bar Starts*/

nav {
  height: 80px;
  display: flex;
  padding-top: 1rem;
}

.nav__container {
  width: 100%;
  padding: 0 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.logo {
  width: 20%;
  background-color: #fff;

  font-weight: bold;
}

.logo:hover .logo--text {
  color: var(--primary);
}
.logo--text {
  font-weight: bolder;
}
.logo--img {
  width: 2.5rem;
  margin-right: 1rem;
}

.lists-container {
  font-size: 14px;
  font-weight: 600;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
}

li {
  margin-right: 2rem;
}

.btn--sign {
  background-color: var(--primary);
  padding: 0.6rem 2rem;
  border-radius: 30px;
  color: #fff;
  border: none;
  font-weight: bold;
  width: fit-content;
}

.btn--sign:hover {
  background-color: var(--secondary);
}

/*Navegation bar Ends*/

/*landing section start*/

#landing {
  width: 100vw;
  height: 100vh - 80px;
  padding-top: 4.5%;
  display: flex;
  justify-content: space-around;
}
.section--description {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.logos__banner--img {
  width: 100%;
}

.section__hero--img {
  width: 55%;
  padding-left: 2rem;
}
.hero--img {
  width: 100%;
  height: 100%;
}
.section--title {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.section--par {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1.2rem;
  color: var(--dark-gray);
}

.landing__email--form {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  padding-bottom: 4rem;
  position: relative;
  width: 100%;
}

.landing__input--email {
  width: 80%;
  height: 3rem;
  padding: 2rem;
  border-radius: 35px;
  border: 2px solid var(--light-gray);
}
::placeholder {
  font-size: 1rem;

  font-weight: bold;

  color: var(--dark-gray);
}
.landing__input--email:hover {
  border-color: var(--dark-gray);
}

.landing__input--button {
  position: absolute;
  top: 4%;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 40px;
  margin: 0 auto;
  padding: 1.2rem;
  right: 7rem;
}
.logos__banner {
  margin: 0;
  width: 100%;
}
.gray--span {
  font-size: 12px;
  display: block;
  padding-bottom: 1rem;
  font-weight: bold;
  color: var(--dark-gray);
}
.logos__banner--img {
  width: 70%;
  filter: grayscale(1) invert(1);
}
/*Landing section Ends*/

/*features section start*/

#features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 7rem 0;
 
}
.section__text--title {
  color: var(--dark-black);
  text-align: center;

  font-size: 3rem;
  font-weight: 900;
  margin: 0;
}
.features__text {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.features__text p {
  font-size: 1.2rem;
  width: 55%;
  color: var(--dark-gray);
  line-height: 1.5;
  text-align: center;
}

.features-container {
  width: 100%;
  display: flex;
  margin-left: -1.2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.feature {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
}

.feature--icon {
  margin-top: -50px;
}
.feature--icon img {
  border: 1px solid var(--dark-gray);
  border-radius: 50%;
  padding: 1.2rem;
  margin-right: -20px;
}
.section--subtitle {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 5px;
}
.feature--text p {
  width: 90%;

  color: var(--dark-gray);
  line-height: 2;
  font-weight: 500;
}
/*features section Ends*/

#qualities .section--description {
  width: 50%;
}
#qualities .section--subtitle {
  padding: 0;
  margin: 0;
}
#qualities .section__hero--img {
  padding: 0;
}
#qualities .section--par {
  font-size: 18px;
  text-align: left;
}

.quality--button {
  padding: 1rem 1.8rem;
  padding-bottom: 1rem;
}

.section--ul {
  display: flex;
  flex-direction: column;
}

.easy-figure {
  background-color: #46bcb5;
  width: 60%;
}

.easy-img {
  width: 100%;
}

.section__group--li {
  display: flex;
  padding: 1rem 0;
}

.number--icon {
  padding-right: 1rem;
}
.number--list {
  font-size: 2rem;
  font-weight: 700;
  color: var(--light-gray);
}
.section--li {
  color: var(--dark-black);
  font-weight: 700;
}
.section__li--p {
  color: var(--dark-gray);
  font-size: 16px;
  line-height: 1.5;
  width: 70%;
}

.h-90 {
  margin-top: 5rem;
  margin-left: -2rem;
  height: 70%;
}
.w-60 {
  width: 60%;
}
.w-90 {
  width: 100%;
}

.w-40 {
  width: 40%;
}

.two--row-container {
  display: flex;
}

.icon {
  padding: 10px;
  border-radius: 50%;
  margin-right: 1rem;
}
.suitcase--icon {
  background-color: var(--normal-red);
  color: var(--red-warning);
}
.dollar-icon {
  background-color: #46bcb5;
  color: #008000;
  padding: 10px 13px;
}

.font-small {
  line-height: 1.5;
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--dark-gray);
}
.pricing--text {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.pricing--par {
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--dark-gray);
  width: 60%;
}

.pricing--cards {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  align-content: center;
  
  width: 100%;
}

.card {
  border: 1px solid var(--light-gray);
 text-align: center;
  width: 23rem;
  margin: 1.5rem;
  border-radius: 8px;
}
.card--header {
  padding-bottom: 1.5rem;
}

.card--header h2 {
  margin: 0;
}
.pricing-li {
  padding: 1rem 0;
}
.pricing-ul {
  border-top: 1px solid var(--light-gray);
}
.pricing-button {
  border-top: 1px solid var(--light-gray);

  padding: 2.5rem;
}

.b-green {
  border-top: 7px solid var(--green);
  border-radius: 8px;
}
.btn-green {
  background-color: var(--green);
  padding: 1rem 2rem;
}
.b-red {
  border-top: 7px solid var(--red-warning);
  border-radius: 8px;
}
.btn-red {
  background-color: var(--red-warning);
  padding: 1rem 2rem;
}

.card:nth-child(2) {
  background-color: var(--blue);
}
.card:nth-child(2) h3,
.card:nth-child(2) h2,
.card:nth-child(2) p,
.card:nth-child(2) li {
  color: #fff;
}

.card:nth-child(2) button {
  background-color: var(--background);
  color: var(--primary);
  padding: 1rem 2rem;
}
.testimonials .section--description{
  
  align-items: center;
 
}
.customer-container {
  display: flex;
}
.customer-photo {
  width: 5rem;
  border-radius: 50%;
}
.fa-star {
  color: #faab54;
}
/*faqs section start*/
.faqs-section {
  padding: 1rem 3rem;
}

.faqs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq-header {
  text-align: center;
}

.questions {
  width: 100%;
  max-width: 1100px;
  padding: 2rem 5rem;
}

details {
  width: 100%;
  background-color: var(--medium-gray);
  display: flex;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

details:hover {
  background-color: var(--light-gray);
}

summary {
  width: 100%;
  height: 1rem;
  display: flex;
  align-items: center;
}

summary h3 {
  margin-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

details p {
  margin: 0.9rem 1rem;
  margin-bottom: 0;
  line-height: 1.5;
  word-spacing: 2px;
}
/*faqs section ends*/
.caller {
  width: 100%;
  padding: 9rem 2rem;
}

.call--to {
  width: 100%;

  border-radius: 20px;
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 300px;
}
.call--to h2 {
  color: #fff;
  width: 50%;
  font-size: 2rem;
  padding-left: 8rem;
  line-height: 1.5;
}
.btn-call--container {
  padding: 5rem;
}
.btn-call-red {
  background-color: var(--normal-red);
  color: #fff;
  padding: 1.5rem 3rem;
  font-weight: 700;
  font-size: 1rem;
  box-shadow: 2px 4px 8px var(--primary);
  border-radius: 30px;
  font-weight: bold;
  border: none;
}
.btn-call-red:hover {
  background-color: var(--red-warning);
}
.btn-call-purple {
  border: 1px solid #fff;
  padding: 1.5rem 3rem;
  margin-left: 1.2rem;
  font-weight: 700;
  font-size: 1rem;
  background-color: var(--primary);
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
}

.btn-call-purple:hover {
  background-color: #fff;
  color: var(--primary);
}

footer {
  background-color: var(--primary);
  width: 100vw;
}

.footer-lists {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0rem;
  border-bottom: 1px solid var(--blue);
}
.footer-lists h3,
.footer-lists li {
  color: #fff;
  font-size: 16px;
}

.footer-lists li {
  margin-bottom: 1rem;
  font-size: 14px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 2rem;
}

.footer-logo {
  display: flex;
}

.footer__logo--text {
  color: #fff;
  font-weight: 900;
  letter-spacing: 1px;
}

.footer-info span {
  color: #ffff;
}

.footer-icon i {
  padding: 1rem;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 1rem;
}
.footer-icon i:first-child {
  padding: 1rem 1.2rem;
}

@media (max-width: 1100px) {
  
  .nav--list,
  .login--list{
    display: none;
  }
  .btn__menu{
    display: block;
  }
 
  .section--container{
   flex-direction: column;
   align-items: center;
   justify-content: center;
  }
  .section--description{
    width: 65%;
    text-align: center;
  }

  .section--title{
    font-size: 1.8rem;
    margin: 0;
  }
  .section--par{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    padding: 1rem 4rem;
    color: var(--dark-black);
  }
  .landing__input--email {
    width: 60%;
    
  }

  .landing__input--button {
    border-radius: 40px;
    margin: 0 auto;
    padding: 1.2rem;
    right: 8rem;
  }
.landing__email--form{
  justify-content: center;
}

.logos__banner--img {
  width: 80%;
  height: 3rem;
}
.section__hero--img {
  width: 100%;
 
  }

  .hero--img{
    padding: 2rem 11rem;
  }


#features {
padding-bottom: 4rem;
  margin: 1rem 0;
 
}

.features__text p {
  font-size: 1rem;
  width: 100%;
  font-weight: 600;
  padding: 0 8rem; 
  color: var(--dark-gray);
}

.feature {
  width: 50%;
  padding: 1rem 2rem;
}

.section--container-medium{
  flex-direction: row;
  padding: 0;
  margin: 0;
 

}
section--description-medium{
  
width: 60%;
display: flex;
text-align: left;  
;
 
}
.section--par-medium{
  
  margin: 0;
  padding: 1rem 0;
  text-align: left ;
  color: var(--dark-gray);
  font-size: 14px !important;
}



.section--title-medium {

font-size: 2.5rem;
font-weight: 900;
text-align: left;
}


.section--subtitle-medium {
 

width: fit-content;
 
}

.section__hero--img-medium{
  width: fit-content;
  width: 60%;

}

.hero--img-medium{
width: 100%;
padding: 0;
margin: 0;
  }

  .icon-header{
    
  text-align: left;
  }

  .two--row-container {
    flex-direction: column;
  }
  .font-small {
    
   padding-right: 7rem;
    color: var(--dark-gray);
    
  }
  .section--li {
    text-align: left;
    font-size: 1.2rem;
  }
  .section__li--p {
    text-align: left;
    font-size: 14px;
    font-weight: 600;
  
 
  }
#pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }
.pricing--text{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
  #pricing .section--title,
  .faqs-section .section--title{
    font-size: 2.7rem;
    padding: 0;
    margin: 0;
  }
#pricing .pricing--par-heading{
  font-size: 1rem;
width: 100%;
line-height: 1.5;
padding-top:1.5rem;
 
}

.star-rating{
  
  justify-content: flex-start;
  display: flex;
}
.star-rating i{
  margin-right: 5px;
}
.testimonial--subtitle{
  text-align: left;
}
.customer-photo-container{
margin-left: 0;
}
.faqs-section .section--par{
  font-size: 1rem;
  margin: 0;
  padding: 0;
  padding-top: 1rem;
  color: var(--dark-gray);
}
.faqs-section{
 
  padding: 0;
}
.questions {
  
  padding: 1rem 0rem;
  max-width: none;
 
}



.caller {
  width: 100%;
  padding: 9rem 2rem;
}

.call--to {
 flex-direction: column;
 justify-content: center;
 align-items: center;


}
.call--to h2 {
  
  text-align: center;
  width: auto;
  padding: 0;
 
 }
 .btn-call--container{
  
  padding: 0;
 }
 .pricing--cards{
 flex-wrap: wrap;
  flex-direction: column;
 
 }
}

@media (max-width: 650px) {
  
  .landing__email--form{
   
    flex-direction: column;
  
    width: 100%;
  }
  .landing__input--email{
    width: 100%;
    position: static;
  }
.landing__input--button{
  position: static;
  width: 100%;
  margin-top: 1rem;
}
.section--container-small{
  width: 100%;
  padding: 0;
  margin: 0;

}
.section--description-small{
  width: 100%;
  padding: 2rem;
}
.section--title-small{
font-size: 2rem;
}
.section--par-small{
font-weight: 500;
padding: 1rem 0;
font-size: 1rem;
}
.logos__banner--img{
  width: 100%;
}

.hero--img{
  padding: 1rem;

}

.features__text p {
  font-size: 14px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.features-container{
  flex-direction: column;
}
.feature {
  width: 100%;
  padding: 1rem 2rem;
  margin: 1rem;
  flex-direction: column;
  justify-content: center;
 align-items: center;
  text-align: center;
}

.feature--icon {
  margin: 0 auto;
  padding: 0;

}

.testimonials h2{
  text-align: center;
}

.feature--icon img {


  margin-right: 0;
}
#qualities .section--container{
 
  flex-direction: column-reverse;
}
#qualities .section--description {

  width: 100%;
  margin: 0;
  padding: 2rem;
align-items: center;
}
#qualities .section--subtitle {
  padding: 0;
  padding-bottom: 1rem;
  margin: 0;
}

#qualities .section--title {
  
font-size: 2rem;
text-align: center;
}
#qualities .section__hero--img {
  width: 100%;
}
#qualities .section--par {
  text-align: center;
}
#qualities .section__hero--img-small{
  padding: 0 2rem;
}

.steps .section--container{
  flex-direction: column;
}
.steps .section__hero--img{
 
  width: 100%;
}
.steps .hero--img{
  width: 100%;
margin: 0;
padding: 0 2rem;
}
.steps .section--description{
   align-items: center;
   justify-content: center;
}
.section__group--li{

  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  
  padding: 0;
  margin: 1rem 0;
 
}
.section--li,
.section__li--p{
  padding: 0;
  margin: 1rem 0;
  text-align: center;
 
}
 
.section__li--p{
  
padding: 0 2rem;
width: 100%;
}



.values-description-small{
padding: 1rem 3rem;
margin: 0 auto;
width: 100%;
text-align: center;

}


.two--row-container{
  flex-direction: column;

  padding: 0;
  margin: 0;
  }

  .icon-header{
    margin: 1rem;
   
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .icon-header p{
margin: 0;

text-align: center;
padding: 0;
}
 
.values h2,
.values p{
  text-align: center;
}
.values p{

font-size: 1rem;
}

.pricing--text {

  width: 100%;
  margin: 0;
  padding: 0;
  
}
.pricing--text h2{
  font-size: 2rem !important;
}

.testimonials .section--container-small{

padding: 0 3rem;
  flex-direction: column;
  align-items: center;
justify-content: center;
}
.testimonials .section__hero--img-small{
  padding: 0;
  width: 100%;
}

.testimonials .hero--img{
  padding: 0;
  margin: 0;
}

.testimonials .section--par-small{
  text-align: center;
}

.customer-container{
  flex-direction: column;
  align-items: center;
  
}
.customer-photo-container{
  
  padding: 0;
  margin: 0 ;
}
.customer-name{
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.faqs-container{
  
  padding: 2rem;
  width: 100%;
}
.faqs-container .section--title-medium{
 
  font-size: 2rem;
text-align: center;
}
.faqs-container .section--description-medium{
padding: 3rem 0;
width: 100%;
}

.questions {
  width: 100%;
  max-width: none;
  padding: 1rem ;
}

details {
  width: 100%;
  padding: 2rem;
 
  
}
summary h3{
  font-size: 1.2rem;
}
footer{
  width: 100%;
  
}
.footer-lists{
  flex-wrap: wrap;
  
 justify-content: space-evenly;
 
}
.footer-ul{
width: calc(100% / 4);
text-align: center;
padding: 0 ;
justify-content: center;
text-align: center;

}

.footer-ul li{

 text-align: center;

 
margin: 10px 0;
}


.footer-ul h3{
text-align: center;
}

.footer-info {
  flex-direction: column;
}

.footer-logo,
footer span,
.footer-icon{
  padding: 1rem 0;
}
}

